@{
    ViewData["Title"] = "Home Page";
}


<div>
    <div class="hero-Container">
        <img src="~/images/img1.png"></img>
        <div class="hero-TextContainer">
            <h1>
                Encontre aquele livro que você tanto procura
            </h1>
            <p>
                Procurando novas histórias para ler? Os lançamentos do seu autor favorito? Ou que tal as novidades do seu gênero favorito? O bookfinder pode te ajudar a encontrar a sua nova leitura!
            </p>
            <div class="hero-ButtonContainer">
                <button>Comece a buscar!</button>
            </div>
        </div>
    </div>

    <div class="search-Container">
        <img src="~/images/img2.png" class="search-Img"></img>
        <div class="search-BarContainer">
            <h1>Busque do seu jeito!</h1>
            <p>Procure por nome do livro, autor, tópico ou até mesmo editora!</p>
            <form asp-controller="Books" asp-action="Search" method="get">
                <input id="BookTitle" name="BookTitle"/>
                <input type="image" src="~/images/icons/icon_search.png" class="search-Submit" />
            </form>
        </div>
        <img src="~/images/img3.png" class="search-Img"></img>
    </div>
</div>
