@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="Books" asp-action="Search" method="get">
        <div class="form-group">
            <label>Busque um livro!</label>
            <input class="form-control" id="BookTitle" name="BookTitle" placeholder="Digite o titulo do livro" />
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">BUSCAR</button>
    </form>
</div>
