<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookFinder</title>
    <link rel="icon" href="~/images/icons/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookFinder.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css"/>
    <link rel="stylesheet" href="~/css/hero.css" />
    <link rel="stylesheet" href="~/css/search.css" />
    <link rel="stylesheet" href="~/css//details.css"/>
    <link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan">
</head>
<body>
    <header>
        <nav class="nav-Bar" id="navBar">
            <div class="nav-Container">
                <ul>
                    <li class="nav-Title">
                        <a asp-controller="Home" asp-action="Index">BookFinder</a>
                    </li>
                    <li class="nav-Menu" onclick="toggleNavBar()">
                        <a>
                            <img class="nav-Img" src="~/images/icons/icon_menu.png" />
                        </a>
                    </li>
                    <li class="nav-Link">
                        <a href="https://www.linkedin.com/in/marcos-eduardo-475160221" target="_blank">Contato</a>
                    </li>
                    <li class="nav-Link">
                        <a href="https://github.com/MarcosEduardo30/BookFinder" target="_blank">Sobre</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BookFinder
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
