@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<h2 class="text-danger">Um erro ocorreu ao processar a sua solicitação</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>
        <strong>Erro:</strong> <code>@Model.ErrorMessage</code>
    </p>
}